body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
 background-color: #007bff;
}

  
.timer-container {
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .timer-container input {
    width: 80px;
    margin: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .timer-container button {
    margin: 5px; 
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .timer-container button:hover {
    background-color: #0056b3;
  }
  
  .timer-container #timer {
    font-size: 24px;
    margin-top: 20px;
  }
  